/* Reset Browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

/* Global CSS */
.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  width: calc(100% / 4);
  padding-left: 10px;
  padding-right: 10px;
}


/* Header-Top */
.header-top {
  width: 100%;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  /* Mat Troi */
}

.header-top p {
  color: #fff;
  font-size: 16px;
}

.header-top .close {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border: none;

  position: absolute;
  right: 10px;
}

/* Header Main */
.header-main {
  width: 100%;
  height: 65px;
}
.wrap-header {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* width: 20%; */
  height: 65px;
  display: flex;
  align-items: center;
}



.menu-main {
  height: 65px;
  /* width: 50%;
  background-color: aqua; */
}
.menu-main ul {
  display: flex;
  height: 65px;
  align-items: center;
}
.menu-main ul li {
  list-style: none; /* Bo dau cham li*/
  position: relative;
}
.menu-main ul li a {
  text-decoration: none; /* Bo gach chan the a */
  color: #000;
  font-weight: 600; /* Do dam cua chu */
  margin-right: 20px;
}

/* Menu C1 */
.menu-main ul li .menu-c1 {
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* display: block; */
  display: none;
  height: auto;
  position: absolute;
  z-index: 9999999;
  top: 100%;
  left: 0;
}

.menu-main ul li .menu-c1 li {
  position: relative;
}

.menu-main ul li .menu-c1 li a {
  display: block;
  padding: 10px 15px;
  width: 100%;
  margin-right: 0;
}
.menu-main ul li .menu-c1 li a:hover {
  background-color: gray;
}

.menu-main ul li:hover .menu-c1 {
  display: block;
}

/* Menu C2 */

.menu-main ul li .menu-c1 li .menu-c2 {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 100%;
  /* display: block; */
  display: none;
  width: 200px;
  height: auto;
}


.menu-main ul li .menu-c1 li:hover .menu-c2 {
  display: block;
}

.button-menu {
  /* width: 15%; */
  /* background-color: orange; */

  height: 65px;
  display: flex;
  align-items: center;
}

.button-menu button {
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #fff;
}

/* :hover -> thuoc tinh nguoi dung di chuot qua nut buttopn */
.button-menu button:hover {
  background-color: #F8F8F8;
  cursor: pointer; /* chuyen tu mui ten thanh ban tay */
}
.button-menu .active:hover {
  cursor: not-allowed;
  background-color: #fff;

}

.button-user {
  /* width: 15%;
  background-color: pink; */

  height: 65px;
}
.button-user ul {
  height: 65px;
  display: flex;
  align-items: center;
}
.button-user ul li {
  list-style: none;
  margin-left: 12px;
  position: relative;
}
.button-user ul li i {
  font-size: 22px;
}
.button-user ul li span {
  width: 20px;
  height: 20px;
  background-color: #2C51B0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: -15px;
  right: -15px;
}




/* Listing Product */
.listing-product {
  width: 100%;
  padding: 40px 0;
}

.content {
  width: 100%;
  height: 300px;
  background-color: green;
  margin-bottom: 20px;
}

.icon-mobile {
  display: none;
}
/* Responsive */


/* Desktop */
@media screen and (max-width: 1450px){

}

/* Table */
@media screen and (max-width: 780px){
  .container {
    width: 100%;
  }
  .menu-main {
    display: none;
  }
  .button-menu {
    display: none;
  }
  .icon-mobile {
    display: block;
  }
}

/* Mobile */
@media screen and (max-width: 420px){

}