/* Reset Browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-style: italic;
}

/* Margin, Padding */
.item-1 {
  width: 200px;
  height: 200px;
  background-color: blueviolet;

  margin-top: 50px;
  padding-left: 20px;

  /* Border: Vien PT */
  border: 5px solid red;
}


.item-2 {
  width: 100px;
  height: 100px;
  background-color: black;

  /* Bo goc */
  /* border-radius: 5px; */
  border-radius: 50%;

  /* an PT */
  display: none;
}